<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <h1>Welcome to the MyBlog</h1>

  <p>This project is developed with using NodeJS, ExpressJS, MongoDB</p>
  <p>To reach my Github: <span class="links"><a href="https://github.com/alihandgrmnclr" target="_blank">alihandgrmnclr</a></span></p>
  <p>To reach my Linkedin: <span class="links"><a href="https://www.linkedin.com/in/alihan-degirmenciler/" target="_blank">Alihan Degirmenciler</a></span></p>

  <%- include("./partials/footer.ejs") %>
</body>
</html>